<div>

  <select name="category" id="category" [(ngModel)]="aly">
    <option value="oppo">oppo</option>
    <option value="apple">apple</option>
  </select>

  <div class="d-flex justify-content-between">

    <div class="card" style="width: 18rem;" app-products [ngSwitch]="pro.brand" *ngFor="let pro of list">
      <div [hidden]="pro.brand==aly">
        <img src="{{pro.Img}}" width="200" height="200" class="card-img-top" alt="...">
        <div class="card-body">

          <p class="card-text">{{pro.Name}}</p>
          <p class="card-text">{{pro.brand}}</p>
          <p class="card-text">{{pro.Quantity}}</p>
          <p class="card-text">{{pro.Price}}</p>
          <p>{{pro.num}} <b>Available</b></p>
          <div>
            <button (click)="pro.num=pro.num-1"
              [ngStyle]="{'background-color':pro.num == 1 ? 'yellow' :(pro.num == 0 ? 'red':null)}"
              [disabled]="pro.num == 0">Buy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <input type="text" id="addnew" [(ngModel)]="aly"  />
  
  <button (click)="addnew()">add</button>

  <p *ngFor="let a of lisa">{{a}}</p>

<div *ngFor="let i of lzst" >
  <p *ngFor="let x of i.child">{{x}}</p>
</div> -->